<!DOCTYPE html>
<html>
<head>
    <!-- Legacy Technology Examples -->

    <!-- Classic ASP (commented for HTML validity) -->
    <!-- Example ASP code:
    <%@ Language="VBScript" %>
    <% 
        Set conn = Server.CreateObject("ADODB.Connection")
        Response.Write("Hello World")
        Session("UserName") = "John"
    %>
    -->

    <!-- Legacy PHP (commented for HTML validity) -->
    <!-- Example PHP code:
    <?php
        mysql_connect("localhost", "user", "pass");
        mysql_select_db("database");
        $result = mysql_query("SELECT * FROM users");
        ereg("pattern", $string);
        session_register("username");
    ?>
    -->

    <!-- ColdFusion (commented for HTML validity) -->
    <!-- Example ColdFusion code:
    <cfoutput>
        <cfquery name="getUsers" datasource="myDB">
            SELECT * FROM users
        </cfquery>
        <cfloop query="getUsers">
            #firstName# #lastName#
        </cfloop>
    </cfoutput>
    -->

    <!-- Perl CGI (commented for HTML validity) -->
    <!-- Example Perl CGI code:
    #!/usr/bin/perl
    use CGI qw(:standard);
    print "Content-type: text/html\n\n";
    $query = new CGI;
    $name = $query->param('name');
    -->

    <!-- JSP Legacy (commented for HTML validity) -->
    <!-- Example JSP code:
    <%@ page language="java" contentType="text/html; charset=UTF-8" %>
    <%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c" %>
    <jsp:useBean id="user" class="com.example.User" scope="session" />
    <jsp:getProperty name="user" property="name" />
    -->

    <!-- Struts 1.x (commented for HTML validity) -->
    <!-- Example Struts code:
    <html:form action="/login.do">
        <html:text property="username" />
        <html:password property="password" />
    </html:form>
    -->

    <!-- Client-Side Legacy Tech -->
    
    <!-- Silverlight -->
    <object data="data:application/x-silverlight-2," type="application/x-silverlight-2">
        <param name="source" value="ClientBin/MyApp.xap"/>
    </object>
    <script type="text/javascript">
        // Silverlight initialization example
        var silverlightConfig = {
            source: "MyApp.xap",
            parentElement: document.getElementById("silverlightContainer"),
            id: "slPlugin"
        };
    </script>

    <!-- Flash -->
    <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000">
        <param name="movie" value="myapp.swf" />
        <embed src="myapp.swf" type="application/x-shockwave-flash" />
    </object>
    <script type="text/javascript">
        // Flash embedding example
        var flashConfig = {
            src: "myapp.swf",
            width: "300",
            height: "120",
            version: "9.0.0"
        };
    </script>

    <!-- VBScript (commented for HTML validity) -->
    <!-- Example VBScript code:
    <script type="text/vbscript">
        On Error Resume Next
        Set objShell = CreateObject("WScript.Shell")
        MsgBox "Hello World"
    </script>
    -->

    <!-- Legacy Frameworks -->

    <!-- Rails 2.x (commented for HTML validity) -->
    <!-- Example Rails code:
    <%= javascript_include_tag :defaults %>
    <%= stylesheet_link_tag 'style' %>
    -->

    <!-- Drupal 6/7 (commented for HTML validity) -->
    <!-- Example Drupal code:
    <?php
        drupal_add_js('misc/jquery.js');
        drupal_add_css('sites/all/themes/mytheme/style.css');
    ?>
    -->

    <!-- Smarty Template (commented for HTML validity) -->
    <!-- Example Smarty code:
    {include file="header.tpl"}
    {foreach from=$users item=user}
        {$user.name}
    {/foreach}
    {php}echo time();{/php}
    -->

    <!-- XML/SOAP -->
    <!-- Example SOAP envelope:
    <?xml version="1.0" encoding="UTF-8"?>
    <soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/">
        <soap:Body>
            <getUser xmlns="http://example.com/api">
                <id>123</id>
            </getUser>
        </soap:Body>
    </soap:Envelope>
    -->

    <!-- Lotus Domino (commented for HTML validity) -->
    <!-- Example Lotus code:
    @Command([FileCloseWindow]);
    @DbLookup("","contacts","John","Email");
    -->

    <!-- Mod_perl (commented for HTML validity) -->
    <!-- Example mod_perl code:
    use Apache2::RequestRec ();
    use Apache2::RequestIO ();
    use Apache2::Const -compile => ':common';
    -->

    <!-- Dangerous Functions -->
    <script>
        // JavaScript Dangerous Functions
        function dangerousExamples() {
            // These are examples of what NOT to do
            eval('console.log("test")');
            new Function('return alert("test")')();
            setTimeout('alert("test")', 1000);
            setInterval('doSomething()', 5000);
        }

        // Example of dangerous patterns (commented for reference)
        /*
        // PHP-style
        shell_exec('ls');
        exec('cat file.txt');
        system('rm file.txt');
        passthru('echo "test"');

        // Python-style
        eval('__import__("os").system("command")');
        exec('rm -rf dir');
        os.system('echo test');
        subprocess.call(['ls', '-l']);
        */
    </script>

    <!-- CORS Configuration -->
    <script>
        // Express CORS example configuration
        var corsConfig = {
            origin: '*',
            credentials: true,
            exposedHeaders: '*',
            allowedHeaders: '*',
            methods: '*'
        };

        // Example of manual CORS headers
        var corsHeaders = {
            'Access-Control-Allow-Origin': '*',
            'Access-Control-Allow-Credentials': 'true',
            'Access-Control-Allow-Headers': '*'
        };
    </script>
</head>
<body>
    <!-- Legacy Content Examples -->
    <div class="legacy-tech">
        <!-- Classic ASP Example -->
        <form action="process.asp" method="post">
            <input type="text" name="username">
        </form>

        <!-- ColdFusion Example (commented for HTML validity) -->
        <!-- Example ColdFusion form:
        <cfinput type="text" name="username">
        <cfform action="process.cfm" method="post">
            <cfinput type="submit" value="Submit">
        </cfform>
        -->

        <!-- Struts 1.x Example (commented for HTML validity) -->
        <!-- Example Struts form:
        <html:form action="/submit.do">
            <html:submit value="Submit"/>
        </html:form>
        -->
    </div>
</body>
</html>
